<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack8.floatwindow">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".Window.FullscreenWindowActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|density|navigation|smallestScreenSize|uiMode"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="[phone|tablet|maximize]" />
            <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="[portrait|landscape]" />
        </activity>
    </application>

</manifest>